<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Create your post</h2>
    <form method="post" action="/posts">
        <input size="36" placeholder="enter username" name="username"> <br><br>
        <textarea rows="7" cols="35" name="content" placeholder="write your post"></textarea> <br><br>
        <button class="bt2">Submit Post</button> <br><br>
         <form method="get" action="/posts">
            <button class="btn">Back</button>
        </form>
    </form>
</body>
</html>