<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Write a new chat</h3>
    <form method="post" action="/chats">
        <input name="from" type="text" placeholder="from: write your name" >
        <br><br>
        <textarea name="msg" id="">Write your message here...</textarea>
        <br><br>
        <input name="to" type="text" placeholder="to: add reciever">
        <br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>